/*=================================================Content n rightbar HOME================================================*/
#layout
{
   width: 960px;
   height: auto;
  
}

#dopost{
	width: 500px;
	height: auto;
	background-color: white;
}

#content_post
{
   float: left;
   width: 650px;
   height: auto;
   background:rgba(0,0,0,0.5);
}

#content_post p{
	text-align: center;
}


#rightbar
{
   float: left;
   width: 310px;
   height: auto;
   background:rgba(0,0,0,0.5);
   clear: right;
}

#tasteoftheweek {
	border: 1px solid;
	border-radius: 5px;
	background-color: #AFD342;
	margin: 10px 10px 20px;
}

#tasteoftheweek .title {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 1px;
	color: black;
}

#tasteoftheweek #bungkustasteoftheweek {
	margin: 10px;
	background-color: white;
	border-radius: 5px;
	
}

#tasteoftheweek #bungkustasteoftheweek .judulreseptasteoftheweek a {
	margin: 20px;
	font-weight: bold;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

/*=====================*/

#category {
	border: 1px solid;
	border-radius: 5px;
	background-color: #AFD342;
	margin: 10px 10px 20px;
}

#category .title {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 1px;
	color: black;
}

#category ul {
	margin: 10px;
	background-color: white;
	border-radius: 5px;
}

#category ul li{
	font-weight: bold;
	list-style: none;
	padding-left: 20px;
}

#category ul li a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

/*=====================*/

#rightbar a:hover {
	text-decoration: underline;
}



/*=================================================Tips n trick===============================================*/
#content_trik
{
   float: left;
   width: 650px;
   height: auto;
   background:rgba(0,0,0,0.5);
}

#content_trik p{
	text-align: center;
}



/*=================================================Catalog===============================================*/
#content_catalog
{
   float: left;
   width: 650px;
   height: auto;
   background:rgba(0,0,0,0.5);
}
#content_catalog p{
	text-align: center;
}

.catalogue img{
	width: 80px;
	height: 80px;
	border: 0px;
	float: right;
}


/*=================================================index===============================================*/
#content_index
{
   float: left;
   width: 650px;
   height: auto;
   background:rgba(0,0,0,0.5);
}

/*=================================================ABout===============================================*/

#content_about
{
   float: left;
   width: 958px;
   height: 450px;
   margin-top: 0px;
   background:rgba(0,0,0,0.5);
}

#aboutus{
	color: white;

}

#content_about p{
	text-align: center;
}

#isiabout{
	width: 940px;
	height: 345px;
	background-color: #AFD342;
	border-radius: 20px;
	margin-left: 8px;
}

#content-isiabout{
	width: 850px;
	height: 315px;
	margin-top: 20px;
	margin-left: 40px;
	text-align: justify;
	color: black;
	font-size: 14px;
	font-family: sans-serif;
	font-variant: normal;
}

#break{
	margin-top: 10px;
	width: 920px;
	height: 10px;
}


/*=================================================profile.php===============================================*/
#content_profile
{
   float: left;
   width: 650px;
   height: auto;
   background:rgba(0,0,0,0.5);
}

.photo-profil img{
	width: 100px;
	height: 100px;
	border: 0px;
	float: both;
	border-radius: 10px;

}

#content_profile .rank img{
	width: 25px;
	height: 10px;
	border: 0;
	float: both;

}

#content_profile .rank img{
	width: 70px;
	height: 20px;

}

#content_profile table{
	float: both;
	width: 600px;
	margin-left: 20px;
}

#content_profile .tabel-favorit img{
	width: 50px;
	height: 50px;
}

#content_profile .tabel-favorit{
	width: 50px;
}

#content_profile h3{
	text-align: center;
}

#content_profile .rated-food{
	text-align: left;
}
