#layout_friend
{
   width: 100%;
   height: 100%;
}

#content_friend p{
   margin-top: 15px;
   padding-top: 10px;
   text-align: center;
   margin-bottom: 0px;
}

#content_friend
{
   width: 960px;
   height: 581px;
   overflow-y: auto;
   float: left;
   margin-top: 0px;
   background:rgba(0,0,0,0.5);
   padding-bottom: 25px;
}

.friend_box {
   float: left;
   width: 120px;
   height: 135px;
   background-color: white;
   border-radius: 5px;
   text-align: center;
   margin-top: 45px;
   margin-left: 60px;
}

.friend_box .friends-pict img {
   width: 100px;
   height: 100px;
   border-radius: 5px;
   margin-top: 10px;
}

.friend_box .friends-name a {
   text-decoration: none;
   color: black;
}