#showing-triks {
	padding: 10px;
	background:rgba(0,0,0,0.5);
	width: 960 auto;
	height: 500px;
	color: black
}

#showing-triks .header .date {
	font-size: 10px;
}

#showing-triks .content .pict-content {
	width: 150px;
	height: 400px;
	background-color: white;
	text-align: center;
	float: left;
	clear: right;
}

#showing-triks .content .pict-content img {
	width: 100px;
	height: 100px;
	border-radius: 5px;
	margin-top: 10px;
}

#showing-triks .content .desc-content {
	float: left;
	width: 780px;
	height: 400px;
	background-color: white;
	margin-left: 10px;
}

#showing-triks .content .here-desc-content {
	margin-left: 10px;
}