body{
	font-family: "Junction",Helvetica,Arial,sans-serif;
	/*background: #6f5499;*/
	/*background-image: url('../imageassets/At-the-Office-Mac-Apple-Wallpapers-Creative-Planning-2982192420.jpeg');*/
	/*background-size: cover;*/
	/*padding-top: 100px;*/
}

#page-wrapper{
	/*background-image: url('../imageassets/unnamed.jpg');*/
	background-size: cover;
}

#active-user{
	cursor: pointer;
}

thead tr{
	background-color: rgba(255,255,255,0.5);
}

.data-container{
	background-color: rgba(255,255,255,0.5);
	border-radius: 6px;
}

.tab-content {
  .tab-pane {
    display: none;
    background-color: #fff;
    /*overflow-y: auto;*/
  }
  
  .active { display: block; }
}

#picture{
	border-radius:8px;
	border-color:black;
	border-width:3px;
	border-style:solid;
	width: 100px;
	height: 150px;
	cursor: pointer;
}

label{
	color: black;
}

#bottom{
	margin-left:40px;
}

#bottomextra{
	margin-left:40px;
	margin-bottom:20px;	
}

/*editorrrr*/

.Editor{
	max-height: 250px;
	height: 250px;
	background-color: white;
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204); 
	padding: 4px; 
	box-sizing: content-box; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	overflow: scroll;
	outline: none;
}

#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}






.form-horizontal .control-label{
	text-align: left;
}

.navbar, .nav-tabs>li>a{
	border-radius: 0px;
}

h1{
	margin-left: 0px;
}

.customtitle{
	margin-left: 10px;
	padding-bottom: 10px;
	color: black;
}

.nav{
	margin-top: 5px;
}

.topmenu{
	color: white;
	padding-top: 20px;
}

#home,#keluarga,#aset,#profile{
	padding-top: 10px;
}

input[type=text],input[type="password"],.select, .btn{
	border-radius: 0px;
}

.inputleft h4{
	padding-top: 200px;
	font-size: 50px;
	color: white;
}

.custombutton{
	text-align: right;
	padding-right: 0px;
	font-weight: bolder;
}

.subtitle, .col-aset{
	margin-top: 10px;
	margin-bottom: 10px;
}