body{
	font-family: "Junction",Helvetica,Arial,sans-serif;
	/*background: #6f5499;*/
	/*background-image: url('../imageassets/At-the-Office-Mac-Apple-Wallpapers-Creative-Planning-2982192420.jpeg');*/
	/*background-size: cover;*/
	/*padding-top: 100px;*/
}

th{
	vertical-align: middle;
}

#page-wrapper{
	/*background-image: url('../imageassets/unnamed.jpg');*/
	background-size: cover;
}

.data-container{
	border-radius: 6px;
	background-color: rgba(0,0,0,0.26);
}

.form-horizontal .control-label{
	text-align: left;
}

.navbar, .nav-tabs>li>a{
	border-radius: 0px;
}

h1{
	margin-left: 0px;
}

.customtitle{
	padding-left: 0px;
	padding-bottom: 10px;
	color: black;
}

.nav-tabs a{
	color: #fff;
}

.nav{
	margin-top: 5px;
}

.topmenu{
	color: white;
	padding-top: 20px;
}

#home,#profile{
	padding-top: 10px;
}

input[type=text],input[type="password"],.select, .btn{
	border-radius: 0px;
}

.inputleft h4{
	padding-top: 200px;
	font-size: 50px;
	color: white;
}

.custombutton{
	text-align: right;
	padding-right: 0px;
}